@import 'variable';
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
      -ms-box-shadow: $shadow;
          box-shadow: $shadow;
}

@mixin transition($animation) {
  -webkit-transition: $animation;
     -moz-transition: $animation;
      -ms-transition: $animation;
          transition: $animation;
}



@mixin transform($horvertical){
	-webkit-transform: $horvertical;
	-ms-transform:$horvertical;
	-ms-transform:$horvertical;
	transform:$horvertical;
} 

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

//@MEDIA QUIRES;
@mixin respond-to($res) {
    @media only screen and ($res) {
        @content;
    }
}

// @mixin mq($break-point) {
//     @media (#{$break-point}) { 
//         @content; 
//     }
// }

@mixin rel_position($rel){
	position:relative;
}

@mixin border-on-focus{
    left: 0;
    // transition: all 0.4s ease 0s;
    @include transition(all 0.4s ease 0s);
    width: 100%;
}

@mixin focused-border{
   background-color: $nhc-yellow;
    bottom: 0;
    height: 3px;
    left: 50%;
    position: absolute;
    // transition: all 0.4s ease 0s;
     @include transition(all 0.4s ease 0s);
    width: 0;
}

@mixin panel-cap{
    
    &::before{
        border-color: transparent transparent $nhc-white transparent;
        border-style: solid;
        border-width: 15px;
        content: "";
        height: 0;
        position: absolute;
        width: 0;
        top: -28px;
        right: 0px;
        @content;
    }
}










