// BACKGROUD COLORS -- MAIN COLORS
$nhc-black:#000;
$nhc-white:#fff;
$nhc-green:#73c6a1;
$nhc-yellow:#ffd26c;
$nhc-blue: #00467f;
$nhc-lightsky:#D9E3EC;
$nhc-lightgrey:#F5F8FA;
$nhc-greyheader: #e5e5e5;
$nhc-header-border:#b2b2b2;
$nhc-red: #f5866c;
$nhc-darkred:#EA5A5B;
$nhc-green: #73c6a1;
$nhc-navbg:#323641;
$nch-nav-color:#b5b6ba;
$nhc-gridpanel-border:#C2D0D5;
$nhc-Lochmara:#3D729E;
$nhc-tan-yellow:#F8C625;
$nhc-tan-green:#00968A;
$nhc-oracle-green:#2E595D;
$nhc-oracle-green-dark:#376165;
$nhc-spindle-sky:#BFD1DF;
$nhc-jungle-mist:#abbdbe;
$nhc-breaker-bay:#587a7d;

// FONT SIZES
$font-extalarge:70px;
$font-biggest:44px;
$font-bigger:38px;
$font-big:30px;
$font-medium:22px;
$font-medium-intern:28px;
$font-semimedium:18px;
$font-default:13px;
$font-small:16px;
$font-smaller:14px;
// $font-smallest:12px;

// FONT COLORS
$color-white:#fff;
$color-semiwhite:#dfe5e4;


// BREAKPOINTS
//$phone-landscape : 'max-width: 480px';
//$phone-potrait : 'max-width: 320px';
$large-device : 'min-width: 1200px';
$desktop : 'max-width: 1199px';
$medium-landscape : 'max-width : 1024px';
$medium-intermediate : 'max-width : 991px';
$medium-intermediate-2 : 'max-width : 859px';
$medium-potrait : 'max-width : 768px';
$mobile : 'max-width : 767px';
$imobile-6-landscape : 'max-width : 667px';
$mobile-intermediate : 'max-width : 599px';
$extra-samll-landscape : 'max-width : 480px';
$extra-samll-intemediate : 'max-width : 366px';
$extra-samll-potrait : 'max-width : 320px';

