@import 'variable';
@import 'font';
@import 'mixins';


//body{
    // @include respond-to($phone-landscape)
    // {
    //     background: #f00;
    // }
    // @include respond-to($medium-intermediate)
    // {
    //    background: #f00;
    // }
//}
// header {
//     .top_head {
//         .logged-user {
//             > p{
//                 @include respond-to($medium-intermediate)
//                 {
//                     font-size: 16px;
//                 }
//             }
//         }    
//     }
    
// }